<div class='panel-heading'>
	<p>Montagem da Lista </p>
</div>
<div class="panel-body">
	<p>
	<label>Lista: </label> 
	<label>
		<span ng-show='listaEdicao.id != null'>{{listaEdicao.id}} -</span>
		<span> {{listaEdicao.descricao}}</span>
		</label> 
	</p>
	
	<h5>Selecione os Produtos da Lista</h5>
	<p>
		<button ng-click='escolheProduto()' class='btn btn-primary'>Escolher</button>
		<button class='btn btn-warning' ng-click='exclui()'>Excluir</button>
	</p>
	
	<br/>
	<span class='alert alert-info' ng-show="mensagem">{{mensagem}}</span>
	<br/> <br/>
	
	<table class='table'>
		<tr>
			<th>No. </th>  <th>Marcar</th> <th>Descri&ccedil;&atilde;o </th> <th>X</th>
		</tr>
		<tr ng-repeat='item in listaEdicao.itens' class='selecionado_{{item.selecionado}}'>
			<td>{{$index}}</td> 
			<td><input type='checkbox' ng-model='item.selecionado' ng-true-value='true' ng-false-value='false' ng-click='limpaMensagem()' /> {{item.selecionado}} </td>
			<td>{{item.descricao}}</td> 
			<td><input type='checkbox' ng-model='item.exclui'      ng-true-value='true' ng-false-value='false' ng-click='limpaMensagem()'/> </td>  
		</tr>
	</table>
	<br/>
	<button class='btn btn-warning'>Cancela</button>
	<button class='btn btn-primary' ng-click='grava()'>Grava</button>
	<button class='btn btn-primary' ng-click='volta()'>Fecha</button>
	<br/> <br/><p>06/03/2015 11:04</p>
	<p>
</div>