<div class='panel-heading'>
	<p>Montagem da Lista </p>
</div>
<div class="panel-body">
	<p>
	<label>Data</label> <label>{{listaEdicao.dataCriacao | date: 'dd/MM/yyyy hh:mm'}}</label> 
		<!--  <input type="text" name="data" ng-model='listaEdicao.dataCriacao'/>  -->
	</p>
	
	<h5>Selecione os Produtos da Lista</h5>
	<p>
		<button ng-click='escolheProduto()' class='btn btn-primary'>Escolher</button>
		<button class='btn btn-warning' ng-click='exclui()'>Excluir</button>
	</p>
	
	<span class='alert alert-info' ng-show="mensagem!=''">{{mensagem}}</span>
	
	<table class='table'>
		<tr>
			<th>No. </th> <th>Descri&ccedil;&atilde;o </th> <th>Comprado</th> <th>Exclui</th>
		</tr>
		<tr ng-repeat='item in listaEdicao.itens'>
			<td>{{$index}}</td> <td>{{item.descricao}}</td> 
			<td><input type='checkbox' ng-model='item.selecionado' ng-true-value='true' ng-false-value='false'/>  </td> 
			<td><input type='checkbox' ng-model='item.exclui' ng-true-value='true' ng-false-value='false'/> </td>  
		</tr>
	</table>
	<br/>
	<button class='btn btn-warning'>Cancela</button>
	<button class='btn btn-primary' ng-click='grava()'>Grava</button>
	<button class='btn btn-primary' ng-click='volta()'>Fecha</button>
</div>