<div class='panel-heading'>
	<p>Configura&ccedil;&otilde;es</p>
</div>
<div class="panel-body">
<form class="form-signin">
	<p class='alert alert-danger' ng-show="mensagem!=''">{{mensagem}}</p>
	<br/>
	
	<button class='btn btn-lg btn-primary btn-block' ng-click='recebeProdutos()'>Recebe produtos</button>
	<!-- <button class='btn btn-lg btn-primary btn-block' ng-click='criaDatabase()'>Cria Database</button>  -->
	
<!-- <form role='form'>   -->
		<div class='form-group'>
			<label for='txtLog'>Logs</label>
			<textarea class='form-control' id='txtLog' rows='20' ng-model='mensagem'>  </textarea>
		</div>
<!-- </form>  -->
</form>
</div>


<!-- <button ng-click='exclui()'>Exclui</button>  -->
<!-- <br/> <p> <input type='text' ng-model='descricao'/>  -->
<!-- <button ng-click='verifica()'>Verifica</button> -->
<!-- <button ng-click='pesquisa(descricao)'>Pesquisa</button> </p>  -->
<!--  <h4>Logs</h4>  -->

<!--  <textarea cols='30' rows='20' ng-model='mensagem'>  -->
<!--  </textarea>  -->