<div class='panel-heading'>
	<p>Selecione uma Lista para Carregar</p>
</div>
<div class="panel-body">
<form class="form-signin">
	<p class='alert alert-danger' ng-show="mensagem!=''">{{mensagem}}</p>
	<select ng-model='listaSelecionada' ng-options='lista.descricao for lista in listas' class='form-control' ng-change='limpa()'>
		<option>Nova</option>
	</select>
	<br/>
	<button ng-click='seleciona()' class='btn btn-lg btn-primary btn-block'>Seleciona</button>
	
	<button class='btn btn-lg btn-primary btn-block' ng-click='excluiLista(listaSelecionada.id)'>Excluir</button>
	
	<button class='btn btn-lg btn-primary btn-block'>Fecha</button>
	<br/> </br>
	<p>{{versao}}</p>
</form>
</div>
