<div class='panel-heading'>
	<p>Selecione uma Lista para Carregar</p>
</div>
<div class="panel-body">
<!-- <h5>Selecione uma Lista para Carregar</h5>  -->
<form class="form-signin">
	<select ng-model='listaSelecionada' ng-options='lista.descricao for lista in listas'
		class='form-control'>
		<option>Nova</option>
	</select>
	
	<button ng-click='seleciona()' class='btn btn-lg btn-primary btn-block'>Seleciona</button>
	
	<button class='btn btn-lg btn-primary btn-block'>Excluir</button>
	
	<button class='btn btn-lg btn-primary btn-block'>Fecha</button>
</form>
</div>
