<!DOCTYPE html>
<html ng-app="testeApp">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="../js/angular.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
	
	<link rel='stylesheet' type='text/css' href='../css/bootstrap-theme.css'/>
	<link rel='stylesheet' type='text/css' href='../css/bootstrap.css'/>
	<link rel='stylesheet' type='text/css' href='../css/sign.css'/>
	<link rel='stylesheet' type='text/css' href='css/style.css'/>
</head>
<body>
	<div class='container' ng-controller='ProdutoController'>
		
		<form id='cadastro' class="form-signin">
			<h3 class="form-signin-heading">Cadastro</h3>
		<!-- 	<label>Descri&ccedil;&atilde;o</label>  -->
		    <input type='text' ng-model='produto.descricao' ng-change='limpa()' placeholder='Descrição' class="form-control"/> 
			<button ng-click='grava(produto)' class="btn btn-lg btn-primary btn-block">Gravar</button>
			
			<br/>
			<span ng-show="msg_erro !='' " class='alert alert-danger'> {{msg_erro}}</span>
			<span ng-show="msg_info !='' " class='alert alert-success'>{{msg_info}}</span>
		</form>
		<br/>
		
		<form id='consulta' class="form-signin">
			<h3 class="form-signin-heading">Pesquisa</h3>
			<!--  <label>Descri&ccedil;&atilde;o</label>  -->
			<input type='text' ng-model='descricao' placeholder='Descrição' class="form-control"/>
			<button ng-click='pesquisa(descricao)' class="btn btn-lg btn-primary btn-block">Pesquisa</button>
			<div class="panel panel-default">
				<table ng-show='produtos.length!=0' class='table'>
					<th>Num</th> <th>Descri&ccedil;&atilde;o</th> <th>Altera</th> <th>Exclui</th> 
					<tr ng-repeat='produto in produtos'>
						<td>{{$index}}</td> <td>{{produto.descricao}}</td> <td>
						<button ng-click='edita(produtos[$index])' class='btn'> ...</button> </td>
							<td><button ng-click='exclui(produto.id)' class='btn'>x </button> </td>
					</tr>
				</table>
			</div>
			<!-- <button ng-click='recebe()'>Receber</button>  -->
		</form>
</body>
</html>