<!DOCTYPE html>
<html ng-app="testeApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="../js/angular.js"></script>
	<script src="../js/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
	<link rel='stylesheet' type='text/css' href='css/style.css'/>
</head>
<body>
	<div ng-controller='ProdutoController'>
		
		<div id='cadastro'>
			<p><label>Descri&ccedil;&atilde;o</label><input type='text' ng-model='produto.descricao' ng-change='limpa()'/></p>
			<button ng-click='grava(produto)'>Gravar</button>
			<button ng-click='pesquisa(produto.descricao)'>Pesquisa</button>
			<br/>
			<p ng-show="msg_erro !='' " class='erro'>erro -> {{msg_erro}}</p>
			<p ng-show="msg_info !='' " class='info'>{{msg_info}}</p>
		</div>
		<br/>
		<div id='consulta'>
			<table ng-show='produtos.length!=0'>
				<th>Num</th> <th>Descri&ccedil;&atilde;o</th> <th>...</th> <th>X</th> 
				<tr ng-repeat='produto in produtos'>
					<td>{{$index}}</td> <td>{{produto.descricao}}</td> <td><button ng-click='edita(produtos[$index])'> </button> </td>
						<td><button ng-click='exclui(produto.id)'> </button> </td>
				</tr>
			</table>
			<!-- <button ng-click='recebe()'>Receber</button>  -->
		</form>
	</div>
</body>
</html>